{% extends 'payment/base.html' %}
{% load static %}

{% block title %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link href="{% static 'payment/css/stripe.css' %}"/>
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div>
        <p>{{ item.name }}</p>
        <p>{{ item.description }}</p>
        <p>{{ item.price }}{{ item.currency }}</p>
    </div>

    <form id="payment-form">
        {% csrf_token %}
        <div id="link-authentication-element">
            <!--Stripe.js injects the Link Authentication Element-->
        </div>
        <div id="payment-element">
            <!--Stripe.js injects the Payment Element-->
        </div>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay now</span>
        </button>
        <div id="payment-message" class="hidden"></div>
    </form>
    <script>
        const url = "{% url 'create-payment-intent' item.id %}";
        const return_url = "{% url 'items' %}";
        const st = Stripe("{{ STRIPE_PUBLIC_KEY }}");
    </script>
    <script src="{% static 'payment/js/stripe.js' %}"></script>
{% endblock %}