{% extends 'payment/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    {% for item in items %}
        <div>
            {{ item.name }}
            <a href="{% url 'payment:item' item.id %}">Купить сразу</a>
            <form action="{% url "cart:cart_add" item.id %}" method="post">
                {% crispy cart_product_form %}
                {% csrf_token %}
                <button type="submit" value="Add to cart">Добавить в корзину</button>
            </form>
        </div>
    {% endfor %}
{% endblock %}