{% extends 'payment/base.html' %}
{% load static %}

{% block title %}
    <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <link href="{% static 'payment/css/stripe.css' %}"/>
    <title>{{ title }}</title>
{% endblock %}

{% block content %}
    <div>
        <p>{{ item.name }}</p>
        <p>{{ item.description }}</p>
        <p>{{ item.price }}{{ item.currency }}</p>
    </div>

    <form id="payment-form">
        {% csrf_token %}
        <input type="text" id="email" placeholder="Email address" />
        <div id="card-element"><!--Stripe.js injects the Card Element--></div>
        <button id="submit">
            <div class="spinner hidden" id="spinner"></div>
            <span id="button-text">Pay</span>
        </button>
        <p id="card-error" role="alert"></p>
        <p class="result-message hidden">
            Payment succeeded, see the result in your
            <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
        </p>
    </form>
    <script src="{% static 'payment/js/stripe.js' %}"></script>
{% endblock %}